@model weatherlogr.Core.DTO.StationCollectorRow
@{
    ViewData["Title"] = "Edit Station Collector";
}

<form asp-action="EditStation" asp-controller="StationCollectors">
    <div class="mb-3">
        <label asp-for="StationIdentifier" class="form-label">Station Identifier</label>
        <input class="form-control max-300 min-300" readonly asp-for="StationIdentifier" />
    </div>
    
    <button type="submit">Save</button>
</form>