@using weatherlogr.Core.DTO
@model StationCollectorRow[]

@{
    ViewData["Title"] = "Station Collectors";
}

@section Scripts
{
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/js/stations.js" asp-append-version="true"></script>
}

<h1>Station Collectors</h1>
<div class="m-2">
    <a asp-action="AddStation" class="btn btn-outline-dark"><i class="fa-solid fa-add"></i></a>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">Actions</th>
            <th scope="col">Station ID</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (StationCollectorRow row in Model)
        {
            <tr>
                <td>
                    <div>
                        <a class="me-2 delete-station" data-val="@row.StationIdentifier"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </td>
                <td>@row.StationIdentifier</td>
                <td>@row.StationName</td>
            </tr>
        }
    </tbody>
</table>

